---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Topbar from '../components/Topbar.astro';
import { ViewTransitions } from 'astro:transitions';
import Widget from '../components/Widget.astro';
import Navbar from '../components/Navbar.astro';
import Fcobot from '../components/Slides.astro';
import Beforeafter from '../components/Beforeafter.astro';
import Inicio from '../components/GridServicios.astro';
import GridServicios from '../components/GridServicios.astro';
import MiniCarusel from '../components/MiniCarusel.astro';
import Slides from '../components/Slides.astro';
import Gallery from '../components/Gallery.astro';


---

<Layout title="Sun Summer">
	<Slides/>
	<Topbar/>
	
	<Widget/>



	<div class="flex justify-center my-2">
		
		<div class="flex w-full items-center justify-center">
			<span class="absolute mx-auto py-4 flex border w-fit bg-gradient-to-r blur-xl from-blue-500 via-teal-500 to-pink-500 bg-clip-text text-6xl box-content font-extrabold text-transparent text-center select-none">
				Piscinas <br> Sun Summer
		  </span>
			<h1
				class="relative top-0 w-fit h-auto py-4 justify-center flex bg-gradient-to-r items-center from-blue-500 via-teal-500 to-pink-500 bg-clip-text text-6xl font-extrabold text-transparent text-center select-auto">
				Piscinas <br>Sun Summer 
			</h1>
		</div>	
	</div>	
	<div class="">
		
		<GridServicios/>
	</div>
	<div class="  text-4xl  font-sans my-2 text-center font-bold">
		<span class="border-teal-400 border-l-4 p-1">
			Algunos de nuestros trabajos</span>
	</div>
		
	<Gallery/>
	
</Layout>





