



---
import Navbar from "../components/Navbar.astro";


---

<Navbar/>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div>
    <nav class="bg-gray-800 text-white w-full h-[7rem] mt-2">
        <h1>Sobre Nosotros</h1> 
    </nav>
    <div class="grid grid-cols-2 grid-rows-3 w-full gap-2 h-[64rem] mt-6">
        <div class="border-8 border-black">
            <h1 class="text-4xl font-bold text-gray-900  mb-2 border-t-4 border-b-4 border-purple-600 mt-2">
                Sun Summer
              </h1>
              <p></p>
        </div>
        <div class="bg-black w-full h-full">a</div>
        <div class="bg-black w-full h-full">a</div>
        <div class="bg-black w-full h-full">a</div>
        <div class="bg-black w-full h-full">a</div>
        <div class="bg-black w-full h-full">a</div>
    </div>






</div>