---
import GallerySpa from "../components/GallerySpa.astro";
import Layout from "../layouts/Layout.astro";


---
<Layout title="Piscinas">
    <div class="flex flex-col w-full items-center pt-4 gap-4 bg-gradient-to-b from-blue-600 via-blue-300 to-blue-100">
        <p class="text-4xl md:text-6xl font-extrabold text-white max-[572px]:text-2xl">Cascadas hechas por Sun Summer</p>
        <form action="" class="max-w-[480px] w-full px-4">
            <div class="relative">
                <button type="submit">
                        
                    </button>
            </div>
        </form>
    </div>
<GallerySpa/>
</Layout>
