---

---
<html>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" is:inline></script>

    <!-- Slider main container -->
<div class="swiper w-full h-[25rem] ">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" data-swiper-autoplay="2000">
        <img src="https://placehold.co/1920x400/FFC0CB/FFFFFF/png" class="mx-auto" alt="">
      </div>

      <div class="swiper-slide" data-swiper-autoplay="2000">
        <img src="https://placehold.co/1920x400/FFC0CB/000000/png" class="bg-cover" alt="nino yamata">
      </div>
      <div class="swiper-slide" data-swiper-autoplay="2000"><img src="https://placehold.co/1920x400" alt=""></div>
     
    </div>
    
  
    
 
    
  </div>





  <script is:inline>
    const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,
  autoplay: {
    delay: 3000,
    disableOnInteraction: false,
  },

  // If we need pagination
 

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});
  </script>

</html>

