
<div class="flex justify-center  ">
<div class="grid grid-cols-2 md:grid-cols-3 gap-4 p-4">
    
    <div>
        <img class="h-auto max-w-full rounded-lg cursor-pointer" src="PS/SPA2.jpg" alt="GIF Example" onclick="openModal(this)">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg cursor-pointer" src="PS/SPA2.jpg" alt="Image 1" onclick="openModal(this)">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg cursor-pointer" src="PS/SPA2.jpg" alt="Image 12" onclick="openModal(this)">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg cursor-pointer" src="PS/SPA2.jpg" alt="Image 12" onclick="openModal(this)">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg cursor-pointer" src="PS/SPA2.jpg" alt="Image 12" onclick="openModal(this)">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg cursor-pointer" src="PS/SPA2.jpg" alt="Image 12" onclick="openModal(this)">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg cursor-pointer" src="FTS/SPA2.JPG" alt="Image 12" onclick="openModal(this)">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg cursor-pointer"src="FTS/SPA2.JPG" alt="Image 12" onclick="openModal(this)">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg cursor-pointer" src="FTS/SPA2.JPG" alt="Image 12" onclick="openModal(this)">
    </div>
</div>
    
    
</div>

<!-- Modal -->
<div id="modal" class="modal z-50">
    <span class="absolute top-0 right-0 p-4 text-white cursor-pointer" onclick="closeModal()">✕</span>
    <img id="modal-image" src="" alt="Modal Image">
</div>

<script is:inline>
    function openModal(image) {
        const modal = document.getElementById('modal');
        const modalImage = document.getElementById('modal-image');
        modalImage.src = image.src;
        modal.style.display = 'flex';
    }

    function closeModal() {
        const modal = document.getElementById('modal');
        modal.style.display = 'none';
    }
</script>

<style>
    /* Agrega un poco de estilo adicional para el modal */
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        justify-content: center;
        align-items: center;
    }
    .modal img {
        max-width: 90%;
        max-height: 80%;
    }
</style>
