<!-- component -->
<header>
  <nav x-data="{ open: false }"  class="flex h-auto w-auto bg-white shadow-lg rounded-lg justify-between
      md:h-16">
      <div class="flex w-full justify-between">
          <div :class="open ? 'hidden':'flex'" 
          class="flex px-6 w-1/2 items-center font-semibold
          md:w-1/5 md:px-1 md:flex md:items-center md:justify-center"
          x-transition:enter="transition ease-out duration-300">
              <h1 class="flex "> 
                <img src="Logonavbar.webp" class="h-[50px] translate-y-3 " alt="Sun Summer logo">
                <a href="/" class="text-2xl font-bold"> Piscinas Sun Summer</a>
                </h1>
          </div>

          <div  
          x-show="open" x-transition:enter="transition ease-in-out duration-300"
          class="flex flex-col w-full h-auto text-3xl font-semibold
          md:hidden">
              <div class="flex flex-col items-center justify-center gap-2">
                  <a href="/">Inicio</a>
                  <a href="nosotros">nosotros</a>
                  <a href="piscinas">piscinas</a>
                  <a href="contactarnos">contactarnos</a>
              </div>
          </div>
          <div class="hidden w-full items-center justify-evenly font-semibold
          md:flex">
            <a href="/">Inicio</a>
            <a href="nosotros">nosotros</a>
            <a href="piscinas">piscinas</a>
            <a href="contactarnos">contactarnos</a>
          </div>
          
          <button class="text-gray-500 w-10 h-10 relative focus:outline-none bg-white
                          md:hidden
                        " @click="open = !open">
              <span class="sr-only">Open main menu</span>
              <div class="block w-5 absolute left-1/2 top-1/2   transform  -translate-x-1/2 -translate-y-1/2">
                  <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'rotate-45': open,' -translate-y-1.5': !open }"></span>
                  <span aria-hidden="true" class="block absolute  h-0.5 w-5 bg-current   transform transition duration-500 ease-in-out" :class="{'opacity-0': open } "></span>
                  <span aria-hidden="true" class="block absolute  h-0.5 w-5 bg-current transform  transition duration-500 ease-in-out" :class="{'-rotate-45': open, ' translate-y-1.5': !open}"></span>
              </div>
          </button>
      </div>
  </nav>
<header/>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer is:inline></script>